
<template name="About">
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 text-right">
          <h1 class="big-headline">ABOUT ME</h1>
          <p class="lead">Hey, I am Rico Ruszewski, a twenty four year old student and meteorjs-enthusiast in Dresden, Germany. I am graduated with Bachelor of Sciene in computer sciences and actually writing my master thesis in applied sciences and information technologies.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>
        </div>
      </div>
    </div>
  </section>
</template>

