
<template name="About">
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 text-right">
          <h1 class="big-headline  waypoint fade-up">ABOUT ME</h1>
          <div class="waypoint fade-right">
          <p class="lead">Hey, I am Rico Ruszewski, a twenty four year old student and meteorjs-enthusiast in Dresden, Germany. I am graduated with Bachelor of Science in computer sciences and actually writing my master thesis in applied sciences and information technologies.</p>
          <p>Working with meteorjs is beside mountain biking my passion. Having an idea, making a concept, realization and holding the finished product in your hands makes me happy. Always looking towards to improve my knowledge.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-offset-1 col-md-6 text-center">
          <img class="img-resposive" src="/images/handstand1.jpg">
        </div>
      </div>
    </div>
  </section>
</template>

