
<template name="Footer">
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
          <ul class="list-inline text-center">
            <li>
              <a href="https://twitter.com/Chaosbohne" target="_blank">
                <div class="icon-wrapper-small">
                  <img src="images/Twitter_logo_white.png" />
                </div>
              </a>
            </li>          
            <li>
              <a href="https://www.facebook.com/chaosbohne" target="_blank">
                <div class="icon-wrapper-small">
                  <img src="images/Facebook_logo_white.png" />
                </div>
              </a>
            </li>            
            <li>
              <a href="https://www.xing.com/profile/Rico_Ruszewski" target="_blank">
                <div class="icon-wrapper-small">
                  <img src="images/Xing_logo_white.png" />
                </div>
              </a>
            </li>          
          </ul>
        </div>
        <div class="col-sm-4">      
        </div>      
      </div>
      <div class="row">
        <h3 class="text-center">Copyright © Rico Ruszewski 2014</h3>
      </div>
    </div>    
  </section>
</template>

