<template name='footer'>
  <div id="footer">
  <nav class="navbar navbar-inverse navbar-bottom" role="navigation">
      <div class="container">
        <div class="row">
          <div class="container col-xs-6 col-sm-6 col-md-6">
            <a href="https://twitter.com/Chaosbohne">
              <img src="/images/twitter-bird-white-on-blue-smalll.png" alt="Twitter icon"/>
              Twitter
            </a>           
          </div>
          <div class="container col-xs-6 col-sm-6 col-md-6">
            <div class="whitecolor">    
              <p>Rico Ruszewski © 2013. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </div>        
</nav>
  </div>
  
</template>