<template name="navigation"> 
    <div id="navigation" class="container">
      <div class="row navigation_wrapper">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h4>
            <a href="{{pathFor 'postsList'}}">Blog</a>
          </h4>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h4>
            <a href="{{pathFor 'about'}}">About</a>
          </h4>          
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <h4>
            <a href="{{pathFor 'contact'}}">Contact</a>
          </h4>
        </div>      
      </div>
    <hr>
    </div>   
</template>