<template name="about">
  <div id="about">
    <div class="padder greyground">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <blockquote class="text-center">
              <p>Everybody in this country should learn how to program a computer ... because it teaches you how to think.<p>
              <small>Steve Jobs</small>
            </blockquote>        
          </div>
        </div>       
      </div>
    </div>
    <div class="padder container">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3">
          <img src="images/jump.png" class="img-responsive" alt="Beautiful picture">
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <dl class="dl-horizontal">
            <dt>WHO //</dt>
            <dd><strong>RICO RUSZEWSKI</strong></dd>
            <hr>
            <dt>WHAT //</dt>
            <dd><strong>STUDENT AT <a href="http://www.htw-dresden.de" target="_blank">HTW DRESDEN</a></strong></dd>  
            <hr>
            <dt>WHERE //</dt>
            <dd><strong>DRESDEN, GERMANY</strong></dd>   
            <hr>
            <dt>WHEN //</dt>
            <dd><strong>2013</strong></dd>   
            <hr>
            <dt>WHY //</dt>
            <dd><strong>PASSION & FUN</strong></dd>               
          </dl>          
        </div>
      </div>
    </div>
    <div class="padder container">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 container">
          <p class="text-center"><strong><a href="http://nodejs.org/" target="_blank">Node.js</a></strong></p>
          <p class="text-center"><strong><a href="http://www.meteor.com/" target="_blank">Meteor.js</a></strong></p>
          <p class="text-center"><strong><a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></strong></p>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <p><strong>My name is Rico. I am student and working in my leisure with brand new technologies like Node.js or Meteor.js. Sometimes i create some websites or i just find out how things with other technologies work. Very often these are quite time-expensive and thats why i want to share my knowledge with you. Sometimes i just chill on my couch. I am new in blogging so feel free to give me feedback. If you miss something feel free as well. Dont forget to comment or <a href="{{pathFor 'contact'}}">contact</a> me.</strong><p>          
        </div>
      </div>
    </div>    
  </div>
</template>