
<template name="ImageIndex">
  <li class="list-spacer col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div>
      <span>
        <img src="{{this.url store='thumbs'}}"  alt="thumbnail" class="img-rounded"/>  
      </span>
      <span class="btn-group btn-group-sm">
        <button type="button" class="copyToClipboard btn btn-default"><span class="glyphicon glyphicon-file"></span></button>
        <button type="button" class="copyToEditor btn btn-default"><span class="glyphicon glyphicon-bookmark"></span></button>
      </span>
    </div>
  </li>
</template>

