<template name="postPage">
  <div id="postPage">
    <div class="container">
      <div class="row">
        <div class="entry-date entry-date-padding text-center col-sm-2 col-xs-2 col-md-2">
          <span class="h4">
            {{giveMonth submitted}}
          </span>
          <span class="h4">
            {{giveDay submitted}}
          </span>           
        </div>
        <div class="col-xs-10 col-sm-10 col-md-6">
          <div class="text-left">    
            <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-xs-12 col-sm-12 col-md-6">
          <div class="text-left">   
            <h4>
              {{introduction}}
            </h4>
          </div>
        </div>        
      </div>  
      <div class="row">
         <div class="col-md-offset-2 col-xs-12 col-sm-12 col-md-6">
          <div class="text-left">   
            {{#markdown}}{{{markdownText}}}{{/markdown}}
          </div>
        </div>  
      </div>
      <hr>    
      {{> disqus}}    
    </div>         
  </div>
</template>