<template name="postItem">
  <div id="postItem">
    <div class="container">
      <div class="row">
        <div class="entry-date entry-date-padding text-center col-sm-2 col-xs-2 col-md-2">
          <span class="h4">
            {{giveMonth submitted}}
          </span>
          <span class="h4">
            {{giveDay submitted}}
          </span>          
        </div>
        <div class="col-xs-10 col-sm-10 col-md-6">
          <div class="text-left">    
            <h3><a href="{{pathFor 'postPage'}}">{{title}}</a></h3>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-2 col-xs-12 col-sm-12 col-md-6">
          <div class="text-left">   
            <h4>
              {{introduction}}
            </h4>
          </div>
        </div>        
      </div>  
      <div class="postItemContainerBig row">
        <div class="col-md-offset-2 col-xs-12 col-sm-12 col-md-6">
          <div class="btn-group">
            <a class="btn btn-primary btn-sm" href="{{pathFor 'postPage'}}">Read more...</a>
          </div>
          {{#if currentUser}}
            <a class="btn btn-primary btn-sm" href="{{pathFor 'editPage'}}">Edit</a>
            {{#if isReady}}
            {{else}}
              <button id="isReady" class="btn btn-danger btn-sm">Not Ready</button>                 
            {{/if}}
          {{/if}}          
          <hr>
        </div>        
      </div>       
    </div>
  </div>
</template>