
<template name="PostItem">
  <article class="PostItem row">
    <div class="col-md-2 col-md-offset-1 image-container">
      {{#if thumbnail}}
        <img src="{{thumbnail}}"/>
      {{/if}}
    </div>
    <div class="col-md-8 preview-container">
      <h1><a href="{{pathFor 'post.index' name=this.strippedTitle}}">{{title}}</a></h1>
      <small class="PostItem-Meta">By {{author}} on {{Date createdAt}}</small>
      <p class="PostItem-Introduction">{{introduction}}</p>
      {{#if currentUser}} 
        <a href="{{pathFor 'edit.index' id=this._id}}" class="btn btn-primary">Edit</a>
        {{#unless this.isPublished}}
          <button class="publish btn btn-default">Publish</button>
        {{/unless}}
      {{/if}}
    </div>    
  </article>
</template>

