
<template name="PostItem">
  <div class="row">
    <article class="PostItem">
      <div class="col-md-2 col-md-offset-1">
        <img src="{{thumbnail}}"/>
      </div>
      <div class="col-md-8">
        <h1><a href="{{pathFor 'post.index' name=this.strippedTitle}}">{{title}}</a></h1>
        <div class="PostItem-Meta">By {{author}} on {{Date createdAt}}</div>
        <div class="PostItem-Introduction">{{introduction}}</div>
        {{#if currentUser}} 
        <a href="{{pathFor 'edit.index' id=this._id}}" class="btn btn-primary">Edit</a>
          {{#unless this.isPublished}}
            <button class="publish">Publish</button>
          {{/unless}}
        {{/if}}
      </div>    
    </article>
  </div>
</template>

