
<template name="Other">
  <section id="other" class="section-padding">
    <div class="container">
      <h1 class="big-headline text-center">AROUND THE WORLD</h1>
      <div class="row">
        <div class="col-sm-4">
          <div class="icon-wrapper text-center">
            <img src="images/Twitter_logo_white.png" />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="icon-wrapper text-center">
            <img src="images/Facebook_logo_white.png" />
          </div>      
        </div>
        <div class="col-sm-4">
          <div class="icon-wrapper text-center">
            <img src="images/Xing_logo_white.png" />
          </div>        
        </div>      
      </div>
    </div>
  </section>
</template>

