
<template name="Other">
  <section id="other" class="section-padding">
    <div class="container">
      <h1 class="big-headline text-center waypoint fade-up">AROUND THE WORLD</h1>
      <div class="row waypoint fade-right">
        <div class="col-sm-4">
          <a href="https://twitter.com/Chaosbohne" target="_blank">
            <div class="icon-wrapper text-center">
              <img src="images/Twitter_logo_white.png" />
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.facebook.com/chaosbohne" target="_blank">
            <div class="icon-wrapper text-center">
              <img src="images/Facebook_logo_white.png" />
            </div>      
          </a>
        </div>
        <div class="col-sm-4">
          <a href="https://www.xing.com/profile/Rico_Ruszewski" target="_blank">
            <div class="icon-wrapper text-center">
              <img src="images/Xing_logo_white.png" />
            </div>        
          </a>
        </div>      
      </div>
    </div>
  </section>
</template>

