
<template name="Contact">
  <section id="contact">
    <div class="row">
      <div class="col-md-5 col-sm-6 text-right">
        <h1 class="big-headline">CONTACT ME</h1>
        <p class="lead">I am available for freelance. Always open-minded to find the next new exciting project. It could be yours!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, dui ac porta.</p>
      </div>
      <form id="contact-form" class="col-sm-6 col-md-offset-1 col-md-6">
        <div class="form-group">
          <label class="control-label" for="contact-name">Name</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user glyph-color"></span></span>
            <input type="text" class="form-control" placeholder="Your name">
          </div>          
        </div>
        <div class="form-group">
          <label class="control-label" for="contact-email">Your E-Mail</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope glyph-color"></span></span>
            <input type="text" class="form-control" placeholder="Your email">
          </div>          
        </div>   
        <div class="form-group">
          <label class="control-label" for="contact-message">Your Message</label>
          <div class="input-group input-group-lg">
            <span class="input-group-addon"><span class="glyphicon glyphicon-comment glyph-color"></span></span>
            <textarea class="form-control custom-control" placeholder="Your message"></textarea>
          </div>          
        </div>          
        <div>
          <button name="submit" type="submit" class="btn btn-block btn-primary btn-lg">Send Message</button>
        </div>
      </form>
    </div>
  </section>
</template>

