
<template name="Contact">
  <section id="contact" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 text-right">
          <h1 class="big-headline waypoint fade-up">CONTACT ME</h1>
          <p class="lead waypoint fade-right">I am available for freelance. Always open-minded to find the next new exciting project. It could be yours!</p>
          <p  class="waypoint fade-right">You have questions about meteor? You want to have a project realized? You need some consulting if meteor.js is your choice? You want me to give a talk?
             For this and anything else use my humble contact form because it is made for you!</p>
        </div>
        {{> ContactForm class="col-sm-6 col-md-offset-1 col-md-6 waypoint fade-right"}}
      </div>
    </div>
  </section>
</template>

